# The address to listen on for both the HTTP and gRPC interfaces
MAILER_ADDRESS=127.0.0.1

# The ports to listen on for the HTTP and gRPC interfaces
MAILER_GRPC_PORT=9000
MAILER_HTTP_PORT=8000

# The minimum level to log at
MAILER_LOG_LEVEL=info

# Whether to enable development mode
MAILER_DEVELOPMENT=no

# The number of sender workers to spawn
MAILER_WORKERS=1

# A comma-separated list of email providers to enable
MAILER_PROVIDERS=mailgun

# The credentials for MailGun
MAILER_PROVIDER_MAILGUN_TYPE=mailgun
MAILER_PROVIDER_MAILGUN_API_KEY=abcdefghijklmnopqrstuvwxyz
MAILER_PROVIDER_MAILGUN_DOMAIN=domain.com
